<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/feed.css">
</head>
<body>
    <!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<!--COLORS-->


<label for="color1" class="label1"></label><label for="color2" class="label2"></label><label for="color3" class="label3"></label><label for="color4" class="label4"></label><label for="color5" class="label5"></label><label for="color6" class="label6"></label><label for="color7" class="label7"></label><label for="color8" class="label8"></label><label for="color9" class="label9"></label><label for="color10" class="label10"></label>

<div class="bottom"><label for="color11" class="label11"></label><label for="color12" class="label12"></label><label for="color13" class="label13"></label><label for="color14" class="label14"></label><label for="color15" class="label15"></label><label for="color16" class="label16"></label><label for="color17" class="label17"></label><label for="color18" class="label18"></label><label for="color19" class="label19"></label><label for="color20" class="label20"></label></div></div>

<!-- PAGE STUFF -->

<input type="checkbox" id="menuCheckbox"/>
<div class="photo-container">
    <div class="close image-x"></div>
    <div class="abs-center photo-tab"></div>
</div>

<div class="side-menu">
    <label for="menuCheckbox" class="checkbox-label side-menu-label">
        <div class="abs-center white-x"></div>
    </label>
    <div class="rela-block menu-content">
        <h3 class="rela-block list-header">Lorem</h3>
        <ul class="rela-block options-list">
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
        </ul>
        <h3 class="rela-block list-header">Lorem</h3>
        <ul class="rela-block options-list">
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
        </ul>
    </div>
    <div class="social-buttons-container">
        <div class="rela-inline social-button fa fa-facebook fa-2x"></div>
        <div class="rela-inline social-button fa fa-behance fa-2x"></div>
        <div class="rela-inline social-button fa fa-instagram fa-2x"></div>
    </div>
</div>

<div class="rela-block top-bar"><img src="http://devlose.fr/img/logo.svg" class="logo"></div>

<div class="rela-block top-container">
  <input type="radio" name="color" id="color1"/>
<input type="radio" name="color" id="color2"/>
<input type="radio" name="color" id="color3" />
<input type="radio" name="color" id="color4" />
<input type="radio" name="color" id="color5" />
<input type="radio" name="color" id="color6" />
<input type="radio" name="color" id="color7" />
<input type="radio" name="color" id="color8" />
<input type="radio" name="color" id="color9" />
<input type="radio" name="color" id="color10" />
<input type="radio" name="color" id="color11"/>
<input type="radio" name="color" id="color12"/>
<input type="radio" name="color" id="color13" />
<input type="radio" name="color" id="color14" />
<input type="radio" name="color" id="color15" />
<input type="radio" name="color" id="color16" />
<input type="radio" name="color" id="color17" />
<input type="radio" name="color" id="color18" />
<input type="radio" name="color" id="color19" />
<input type="radio" name="color" id="color20" />
    <div class="rela-block top-center-container">
        <div class="inner-container top-text-container">
            <h2 class="rela-block top-main-text color">JESSY NAUDIN | DEVLOSE</h2>
            <p>WEB & GRAPHIC DESIGNER</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, necessitatibus expedita minus laudantium libero quia dolore amet nisi nam magnam similique, ratione iure dicta.</p>
        </div>
    </div>
    <label for="menuCheckbox" class="checkbox-label menu-label color">
        <div class="abs-center black-lines colorbg"></div>
    </label>
</div>
<div class="rela-block image-layout-selector">
    <div class="floated layout-option rows">
        <div class="abs-center bars rotated"></div>
    </div>
    <div class="floated layout-option columns active">
        <div class="abs-center bars color"></div>
    </div>
</div>

<div class="rela-block image-grid-container">
    <div class="floated image-column 1">
      <img src="" alt="" />
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
    </div>
    <div class="floated image-column 2">
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
    </div>
    <div class="floated image-column 3">
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
        <div class="rela-block image"></div>
    </div>
</div>

<div class="rela-block button black-text load-button">Voir plus</div>



<script src="../javascripts/feed.js"></script>
</body>
</html>