<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
   
    <div class="pfl-wrapper">
        <nav id="nav">
            <div class="nav-icon"><span></span></div>
            <div class="hire-me">Hire me</div>
        </nav>
        <article>
            <div class="profile-photo">
                
            </div>
            <div class="profile-info">
                <h1><%= user.username %> </h1>
                <p>Creative technologist <a href="http://fiascodesign.co.uk/" target="_blank">@FiascoDesign</a>. Maker of web things. Joint owner <a href="http://mountainandco.uk/" target="_blank">@mountainandco</a>.</p>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="text" name="filecaption">
                    <input type="file" name="file">
                    <button type="submit">post-your-thoughts</button>
                </form>
            </div>
          
              
             <div class="cards">
                    <% user.posts.forEach(function(post){%>
                        <div class="col-xs-12 col-lg-12 col-xl-6 tile">
                            <div class="inner">
                                <img src="/images/uploads/<%= post.image%>"/>
                                <h4><%= post.imageText %></h4>
                            </div>
                        </div>
                   <% }) %>
              </div>
                
            
                  
                                        
        </article>
    </div>
       <script src="../javascripts/profile.js"></script>
</body>
</html>